@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
.main{
    display: table;
    margin: 0 auto;
}
.header{
    display: table-row;
}
.head_text{
    font-size: larger;
}
nav li{
    float: right;   
    list-style: none;
    border: black solid 3px;
    padding: 10px;
    margin: 0 0 0 20px;
    border-radius: 30px;
}
#choice_nav{
    background-color: black;
    color: white;
}
.selection_h1{
    margin: 20px 0 20px 0;
    padding: 0px 200px 0px 200px;
}
.selection_h2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px; 
}
.sel_point{
    display: table;
    width: 400px;
    height: 450px;   
    border: 1px solid gray;
    border-radius: 50px;
    padding: 40px 30px 40px 30px;
}
#color_1{
    background: linear-gradient(135deg, #FFC95D, #FC7C05);
    color: white;  
}
#color_2{
    background: linear-gradient(135deg, #BE67D9, #5E27FC);
    color: white;
}
.sel_point_head, .none, .sel_point_foot{
    display: table-row;
}
.head_text_point, .head_img_point{
    display: table-cell;
    height: 100px;
}
.none{
    height: 150px;
}
.footer{
    display: table-row;
    padding: 20px 10px 20 px 10px;
    text-align: left;   
}
p, h1{
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}
#hbold{
    font-weight: bold;
}